@model Prac.Models.User


@{
    ViewBag.Title = "SignUp";
}



<div>
    <h6 class="btn btn-outline-dark" onclick="window.history.back()">back</h6>
</div>
<div class="row">

    <div class="d-flex justify-content-center box1 min-vh-100 col-7">
        <H1>SignUp</H1>
    </div>
    <div class="d-flex justify-content-lg-start box1 min-vh-100 col-5 form-group">
        @*<form action="SignUp" method="post" id="SignUpForm">*@
            @using (Html.BeginForm("SignUp","Login",new { ReturnUrl=ViewBag.ReturnUrl},FormMethod.Post, htmlAttributes : new { @id= "SignUpForm", @name= "SignUpForm" }))
            {
                <div class="form-group ">
                    <div class="font-weight-bold">  @Html.LabelFor(model => model.FirstName)</div>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control " })
                </div>

                <div class="form-group ">
                    <div class="font-weight-bold">  @Html.LabelFor(model => model.LastName)</div>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control " })

                </div>

                <div class="form-group ">
                    <div class="font-weight-bold">  @Html.DisplayNameFor(model => model.EmailId)</div>
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control " })

                    <span class="text-danger">@ViewBag.EmailAlert</span>
                </div>

                <div class="form-group ">
                    <div class="font-weight-bold">  @Html.DisplayNameFor(model => model.Password)</div>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control ", @type = "password" })

                </div>
                <div class="form-group ">
                    <label class="font-weight-bold"> Confirm Password </label>
                    <input class="form-control" type="password" name="cfmPassword" value="" id="cfmPassword" />
                </div>


                <div class="form-group ">
                    <input class="form-control btn btn-dark" type="submit" name="submit" value="Submit" />
                </div>
            }

        @*</form>*@
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">

    $("#SignUpForm").validate({
        rules: {
            FirstName: {
                required:true
            },
            LastName: {
                required: true
            },
            EmailId: {
                required: true
            },
            Password: {
                required: true,
                minlength: 6,
                maxlength: 10,

            },

            cfmPassword: {
                equalTo: "#Password",
                minlength: 6,
                maxlength: 10
            }


        },
        messages: {
            FirstName: {
                required: "Enter First Name"
            },
            LastName: {
                required: "Enter last Name"
            },
            EmailId: {
                required: "Bitch!, Enter the emailId"
            },
            Password: {
                required: "the password is required"

            }
        }

    });
</script>
<style>
    form .error {
        color: red;
    }
</style>

